<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_OperatorsLCO_01"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_OperatorsMSO_02"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_OperatorsDPO_03"/>
     
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Activation_BasePack_04"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Activation_CreateSubscriber_05"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_Retrack_06"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_Reconnect_07"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_Disconnect_08"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_CancelProduct_09"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_HardwareReplacement_10"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Hardware_SendOSD_11"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Product_Assign_12"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Product_Remove_13"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Customer_ChangeTypeAndClass_14"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Finance_PayBills_15"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Finance_FinancialAccounts_16"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bulk_Adjustment_Credit_17"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Bullk_Adjustment_Debit_18"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_ListCustomer_19"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_ListDevices_20"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_ListConnections_21"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_ListActivations_22"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_ListSuspension_23"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_Product_Assignment_24"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Core_JobReport_24"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Finance_ListPayments_25"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Finance_PayForBox_26"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Finance_GSTReport_27"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_Finance_PayBills_28"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Report_RefundReport_29"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_MessageListMessage_30"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_MessageAddScroll_31"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_SetDueDate_31"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_SubuserAddSubuser_32"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_SubuserModifySubuser_33"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_BanksListBanks_34"/>
     <class name="com.mobiotics.HITSAdmin.tstCases.TC_Maintenance"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
